<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product1</title>
</head>
<body>
<h1> OPRODUCTS FOR EVERYONE TO BUY</h1>
<h3>clothes</h3>
<img src="https://static.pullandbear.net/2/photos//2023/I/0/1/p/7241/207/423/7241207423_2_1_8.jpg?t=1687352033836&imwidth=1125">
<p>a beautifulllll white t shirt with green stripes</p>
<img src="https://www.glassons.com/content/products/calvin-cargo-pant-its-a-lil-dill-front-pw53226cot.jpg">
<p>grey-baige colored pants</p>
<img src="https://storage.sg.content-cdn.io/cdn-cgi/image/width=1034,height=1376,quality=75,format=auto,fit=cover,g=top/in-resources/21e9ae3c-de72-4391-9c4a-c7af58447630/Images/ProductImages/Source/levis-mens-type-i-trucker-jacket-A31740001_10_Model%20Front.jpg">
<p>denim jacket to make you look weird</p>
<a href="/">home page</a> 
</body>
</html>
